<div class="panel panel-default">
  <div class="panel-body">
    <p>User</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Trends</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Tweets</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Who to Follow</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>About</p>
  </div>
</div>
